@model ShareWeb.Models.ForgetPassword
@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    ViewBag.Title = "忘记密码";
}

@using (Html.BeginForm("ForgetPassword", "Account", new { role = "form" }))
{
    @Html.AntiForgeryToken()
    <fieldset>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Email)
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "注册时使用的邮箱" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Code)
            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", placeholder = "验证码" } })
            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <img class="codePic" src="/Account/GetAuthCode" width="100" height="30">
            &nbsp;&nbsp;看不清? <a href="#" class="verifyCode">换一张!</a>
        </div>
        <!-- Change this to a button or input when using this as a form -->
        <input type="submit" value="申请重设" class="btn btn-lg btn-success btn-block" />
        <div>
            <table style="width:100%">
                <tbody>
                    <tr>
                        <th style="font-weight:normal;">
                            <div style="text-align:left; margin-top:1em;">
                                <a href="/Account/Login"><i class="fa fa-angle-left"></i> 登录</a>
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>

    </fieldset>
}